<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SlightliCloudi</title>
</head>
<body style="font-family: BlinkMacSystemFont, sans-serif; font-size: 30px; text-align: center;">
<main>
    <div style="padding: 10px;">
        <h1 th:text = "'SlightliCloudi ' + ${forecastType} + ' forecast'">SlightliCloudi forecast</h1>
    </div>
    <div class="temperatures" style=" font-size: 50px; font-weight: bold; padding: 10px;" th:if="${forecastType == 'Weekendly'}">
        <p style="font-weight: bold">Temperatures for the week:</p>
        <table class="temperatures" style="margin-left: auto; margin-right: auto;">
            <tr>
                <td style="padding: 10px;" th:each="temp : ${temperatures}"><span th:text="${temp}"></span></td>
            </tr>
            <tr style="padding: 10px;">
                <td style="font-size: 10px; font-weight: normal; padding: 10px;">Saturday</td>
                <td style="font-size: 10px; font-weight: normal; padding: 10px;">Sunday</td>
            </tr>
        </table>
    </div>
    <div style="padding: 10px;">
        <table class="weather" style="margin-left: auto; margin-right: auto; border: #4e4e4e solid 1px;">
            <tr style="border: #4e4e4e solid 1px;">
                <th style="border: #4e4e4e solid 1px; padding: 15px;">Weather</th>
                <th style="border: #4e4e4e solid 1px; padding: 15px;">Precipitation</th>
                <th style="border: #4e4e4e solid 1px; padding: 15px;">Wind</th>
            </tr>
            <tr style="border: #4e4e4e solid 1px;">
                <td style="border: #4e4e4e solid 1px;padding: 15px;">It's hot</td>
                <td style="border: #4e4e4e solid 1px;padding: 15px;">There's rain</td>
                <td style="border: #4e4e4e solid 1px;padding: 15px;">There's wind</td>
            </tr>
        </table>
    </div>
    <div style="padding: 10px;">
        <table class="recommendations" style="margin-left: auto; margin-right: auto; border: #4e4e4e solid 1px; border-radius: 20px; font-weight: normal; font-size: 75%;">
            <tr>
                <th style="padding: 15px; text-decoration: underline;">Recommendations</th>
            </tr>
            <tr th:if="${weatherRecommendations == null}">
                <td style="padding: 15px; text-align: left;"> No recommendations for this weather </td>
            </tr>
            <tr th:each="weatherRecommendation : ${weatherRecommendations}">
                <td style="padding: 15px; text-align: left;"><span th:text="${weatherRecommendation}"></span></td>
            </tr>
            <tr th:if="${windRecommendations == null}">
                <td style="padding: 15px; text-align: left;"></td>
            </tr>
            <tr th:each="windRecommendation : ${windRecommendations}">
                <td style="padding: 15px; text-align: left;"><span th:text="${windRecommendation}"></span></td>
            </tr>
        </table>
    </div>
</main>
</body>
</html>